body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #150308;
    color:rgb(244, 237, 238);
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
  }
  
  main {
    padding: 20px;
  }
  
  input,
  textarea {
    display:flex;
    margin-bottom: 20px;
    border: 5px solid rgb(88, 51, 122);
    border-radius:20%;
    width: 25%;
    padding: 5px;
    font-weight: 700;
    font-size: large;
    font-family: cursive;
  }
  
  button {
    background-color: #eb080f;
    color: #d6ebd9;
    border: none;
    padding: 10px 20px ;
    cursor: pointer;
  }
  
  #postsContainer {
    margin-top: 20px;
  }
  
  .post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #bdbcbc;
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  .post img {
    max-width: 400px;
    margin-bottom: 10px;
    height: 400px;
  }
  
  .container{
    background-color: antiquewhite;
  }